W3SCHOOLS PYTHON TUTORIALS
PP2 lab 1
Nurzhan Abdik  ID: 24B032170

Example 1

In [1]:
print("lab number one")

lab number one

Example 2

In [5]:
if 10 > 7:
    print("ten is greater than seven")

ten is greater than seven

Example 3

In [7]:
x = 99
X = "salem world"
# x and X are not the same variable, because python is case sensitive
print(x)
print(X)

99
salem world

Example 4

In [1]:
#comments can be written above the code
print("salem world") #as well as the near the code

salem world

Example 5

In [3]:
x = 15      #variable x was an integer
x = "salem" #now x is a string
print(x)    #prints the last assigned value of x

salem

Example 6

In [9]:
a = str(21)   # 21 as string
b = int(21)   # 21 as integer
c = float(21) # 21 as float number

print(a + " + 21")
print(b)
print(c)
print(b + c) # int + float = float

21 + 21
21
21.0
42.0

Example 7

In [13]:
ab = 11 #this four variables are different
Ab = 27 #and each of them has different value
aB = 36 #variable name can't start with a number
AB = 40 #variable name can't contain space or dash
print(ab)
print(Ab)
print(aB) 
print(AB)

11
27
36
40

Example 8

In [15]:
a, b, c = 15, "salem", 58 #python allows to assign values to multiple variables in one line
print(a)
print(b)
print(c)

15
salem
58

Exapmle 9

In [17]:
phones = ["iphone", "samsung", "xiaomi"] #create a list
a, b, c = phones                         #assing values from a list to variables, unpacked them
print(a)
print(b)
print(c)

iphone
samsung
xiaomi

Example 10

In [19]:
a = "naps are awesome"
print(a)

naps are awesome

Example 11

In [29]:
a = "Naps"
b = "Are"
c = "Awesome"
print(a,b,c) #prints string with space
print(a+b+c) #prints string without space

Naps Are Awesome
NapsAreAwesome

Example 12

In [31]:
a = 12
b = 28
print(a,b) #prints two integers with space
print(a+b) #prints the sum of two integers

12 28
40

Exapmle 13

In [33]:
a = 12
b = "salem"
print(a, b)
#print(a+b)  can't be runned since a is a integer and b is a string

12 salem

Example 14

In [1]:
a = "awesome"               #global variable

def func():
    a = "fantastic"        #local variable inside of function
    print("naps are " + a) #print string with local variable

func()

print("naps are " + a)    #print string with global variable

naps are fantastic
naps are awesome

Example 15

In [9]:
a = "awesome"                    #first global variable
print("naps are " + a)     

def func():
    global a                     #make local variable new global variable
    a ="fantastic"               #second global variable
    print("naps are " + a)

func()

print("but insomnia isn't " + a) #use new global variable outside of a function

naps are awesome
naps are fantastic
but insomnia isn't fantastic

Example 16

In [17]:
a = 15
b = 15.5
c = 15j
d = "salem"
e = True
f = ["iphone", "samsung", "xiaomi"]
g = ("iphone", "samsung", "xiaomi")

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>

Example 17

In [21]:
a = 15
b = -2.5
c = 3j

print(a + b)
print(type(a + b)) #int + float = float

print(a + c)
print(type(a + c)) #int + complex = complex

print(b + c)
print(type(b + c)) #float + complex = complex

12.5
<class 'float'>
(15+3j)
<class 'complex'>
(-2.5+3j)
<class 'complex'>

Example 18

In [39]:
a = int(24)
b = int(12.5)
c = int(-3.85)
print(a,b,c, b + c)

d = float(24)
e = float(12.5)
f = float(-3.85)
print(d,e,f, e + f)

g = str("24BD")
h = str(12.5)
i = str(-3.85)
print(g,h,i, h + i)

24 12 -3 9
24.0 12.5 -3.85 8.65
24BD 12.5 -3.85 12.5-3.85

Example 19

In [2]:
print("His name Antony, but we call him 'T'")

His name Antony, but we call him 'T'

In [4]:
a = '''Chill, chill, chill, chill, chill
Chill, chill, chill, chill, chill
Chill, chill, chill, chill, chill
Chill, chill, chill, chill, chill'''
print(a)

Chill, chill, chill, chill, chill
Chill, chill, chill, chill, chill
Chill, chill, chill, chill, chill
Chill, chill, chill, chill, chill

In [1]:
a = "salem"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

s
a
l
e
m

Example 20

In [25]:
a = "David Lynch"
print(a[2:5])   #print string from index n to m, m is not included
print(a[2:])    #print string from index n to the end
print(a[:5])    #print string from start to index m
print(a[-5:-2]) #print string by negative indexes

vid
vid Lynch
David
Lyn

Example 21

In [39]:
a = "David Lynch"
print(a.upper())
print(a.lower())
print(a.replace("Lynch","Bowie"))
print(a.split(" "))

b = " David Lynch"
print(b.strip())

DAVID LYNCH
david lynch
David Bowie
['David', 'Lynch']
David Lynch

In [41]:
a = "David"
b = "Lynch"
c = a + b
d = a + " " + b
print(c)
print(d)

DavidLynch
David Lynch

Example 22

In [47]:
a = 19.9
txt = f"The price of this product is {a}"
txt1 = f"If you buy two of them, the total will be {2 * a}"
print(txt)
print(txt1)

The price of this product is 19.9
If you buy two of them, the total will be 39.8

Example 23

In [53]:
a = "samurai in Japan are called \"Bushi\", which means \"warrior\" in japanese"
print(a)

samurai in Japan are called "Bushi", which means "warrior" in japanese

Example 24

In [71]:
txt = "salem alem"
a = txt.capitalize()
b = txt.isalpha()
c = txt.isdigit()
d = txt.isupper()
e = txt.islower()
f = txt.count("m")
g = txt.find("A")
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

Salem alem
False
False
False
True
2
-1