W3SCHOOLS PYTHON TUTORIALS
PP2 lab 2
Nurzhan Abdik  ID: 24B032170

Example 1

In [1]:
print(100 > 99)
print(100 == 99)
print(100 < 99)

True
False
False

Example 2

In [1]:
a = 153
b = 171

if a > b:
    print("a is a greater than b")
else:
    print("b is a greater than a")

b is a greater than a

Example 3

In [15]:
print(bool(153))
print(bool(0))
print(bool(-153))

print(bool("salem"))
print(bool(""))
print(bool("  "))

True
False
True
True
False
True

Example 4

In [17]:
def func():
    return True

if func():
    print("It is true")
else:
    print("It is false")

It is true

Example 5

In [21]:
a = 153
b = "salem"

print(isinstance(a, int)) #check if a is an int
print(isinstance(b, int)) #check if b is an int
print(isinstance(a, str))
print(isinstance(b, str))

True
False
False
True

Example 6

In [35]:
x = 8
y = 2
z = 5

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x ** y)
print(x // z)
print(x % z)

10
6
16
4.0
64
1
3

Example 7

In [13]:
x = 5
x += 3 # same as the x = x + 3
x -= 2
x *= 6
x /= 3
print(x)

12.0

Example 8

In [7]:
phones = ["iphone", "samsung", "xiaomi", "samsung"]
print(phones)
print(len(phones))
print(type(phones))

['iphone', 'samsung', 'xiaomi', 'samsung']
4
<class 'list'>

Example 9

In [15]:
phones = ["iphone", "samsung", "xiaomi", "samsung"]
nums = [1,2,3,4,5,6]
facts = [True, True, False]
combined_list = ["iphone", 1, 3, True]

print(phones, nums, facts, combined_list)
print(len(phones))
print(len(nums))
print(len(facts))
print(len(combined_list))

['iphone', 'samsung', 'xiaomi', 'samsung'] [1, 2, 3, 4, 5, 6] [True, True, False] ['iphone', 1, 3, True]
4
6
3
4

Example 10

In [17]:
odd_nums = list((1,3,5,7,9))
print(odd_nums)

[1, 3, 5, 7, 9]

Example 11

In [33]:
fruits = ['apple', 'pear', 'cherry', 'grape', 'orange', 'lime']
print(fruits[2])
print(fruits[-1])
print(fruits[1:4])
print(fruits[3:])
print(fruits[:4])

cherry
lime
['pear', 'cherry', 'grape']
['grape', 'orange', 'lime']
['apple', 'pear', 'cherry', 'grape']

Example 12

In [39]:
fruits = ['apple', 'pear', 'cherry', 'grape', 'orange', 'lime']

if 'pear' in fruits:
    print("we have a 'pear'")
else:
    print("we don't have a 'pear'")

if 'banana' in fruits:
    print("we have a 'banana'")
else:
    print("we don't have a 'banana'")

we have a 'pear'
we don't have a 'banana'

Example 13

In [53]:
fruits = ['apple', 'pear', 'cherry', 'grape', 'orange', 'lime']
fruits[0] = 'lemon'
fruits[1:3] = ['peach', 'blackberry']
fruits[3:6] = ['pineapple']
fruits.insert(3, 'strawberry')
print(fruits)

['lemon', 'peach', 'blackberry', 'strawberry', 'pineapple']

Example 14

In [57]:
fruits = ['apple', 'pear', 'peach']

fruits.insert(1, 'banana')
fruits.append('mango')
print(fruits)

['apple', 'banana', 'pear', 'peach', 'mango']

Example 15

In [67]:
fruits = ['apple', 'pear', 'peach']
citrus = ['lemon', 'lime', 'grapefruit']
berries = ('strawberry', 'blackberry', 'gooseberry')

fruits.extend(citrus)
print(fruits)

fruits.extend(berries)
print(fruits)

['apple', 'pear', 'peach', 'lemon', 'lime', 'grapefruit']
['apple', 'pear', 'peach', 'lemon', 'lime', 'grapefruit', 'strawberry', 'blackberry', 'gooseberry']

Example 16

In [5]:
fruits = ['apple', 'pear', 'apple', 'cherry', 'grape', 'orange', 'lime']
print(fruits)

fruits.remove('apple')
print(fruits)

fruits.pop(1)
print(fruits)

fruits.pop()
print(fruits)

del fruits[1]
print(fruits)

fruits.clear()
print(fruits)

['apple', 'pear', 'apple', 'cherry', 'grape', 'orange', 'lime']
['pear', 'apple', 'cherry', 'grape', 'orange', 'lime']
['pear', 'cherry', 'grape', 'orange', 'lime']
['pear', 'cherry', 'grape', 'orange']
['pear', 'grape', 'orange']
[]

Example 17

In [13]:
fruits = ['apple', 'pear', 'peach']
for x in fruits:
    print(x)

vegetables = ['tomato', 'cucumber', 'sweetcorn']
[print(x) for x in vegetables] 

odd_nums = [1,3,5]
for i in range(len(odd_nums)):
    print(odd_nums[i])
    
even_nums = [2,4,6]
i = 0
while i < len(even_nums):
    print(even_nums[i])
    i += 1

apple
pear
peach
tomato
cucumber
sweetcorn
1
3
5
2
4
6

Example 18

In [17]:
fruits = ['apple', 'pear', 'apple', 'cherry', 'grape', 'orange', 'lime']

fruits_with_R = []
for x in fruits:
    if "r" in x:
        fruits_with_R.append(x)
print(fruits_with_R)

fruits_with_A = [x for x in fruits if "a" in x]
print(fruits_with_A)

['pear', 'cherry', 'grape', 'orange']
['apple', 'pear', 'apple', 'grape', 'orange']

Example 19

In [19]:
fruits = ['apple', 'pear', 'apple', 'cherry', 'grape', 'orange', 'lime']
nums = [11,2,5,309,234,34]

fruits.sort()
print(fruits)
fruits.sort(reverse = True)
print(fruits)

nums.sort()
print(nums)
nums.sort(reverse = True)
print(nums)

['apple', 'apple', 'cherry', 'grape', 'lime', 'orange', 'pear']
['pear', 'orange', 'lime', 'grape', 'cherry', 'apple', 'apple']
[2, 5, 11, 34, 234, 309]
[309, 234, 34, 11, 5, 2]

Example 20

In [17]:
fruits = ['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']
nums = [11,2,5,309,234,34]

fruits.reverse()
print(fruits)
nums.reverse()
print(nums)

['cherry', 'Cherry', 'banana', 'Banana', 'apple', 'Apple']
[34, 234, 309, 5, 2, 11]

Example 21

In [15]:
fruits = ['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']
fruits.sort()
print(fruits)

fruits.sort(key = str.lower)
print(fruits)

['Apple', 'Banana', 'Cherry', 'apple', 'banana', 'cherry']
['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']

Example 22

In [5]:
def func(n):
  return abs(n - 5)

nums = [1,2,3,4,5,6,7,8,9,10]
nums.sort(key = func)
print(nums)

[5, 4, 6, 3, 7, 2, 8, 1, 9, 10]

Example 23

In [23]:
fruits = ['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']
fruits_1 = fruits.copy()
fruits_2 = list(fruits)
fruits_3 = fruits[:]

print(fruits)
print(fruits_1)
print(fruits_2)
print(fruits_3)

['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']
['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']
['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']
['Apple', 'apple', 'Banana', 'banana', 'Cherry', 'cherry']

Example 24

In [27]:
fruits = ['apple', 'pear', 'lemon']
nums = [1,14,23]

fruits_n_nums = fruits + nums
print(fruits_n_nums)

for x in nums:
    fruits.append(x)
print(fruits)

nums.extend(fruits)
print(nums)

['apple', 'pear', 'lemon', 1, 14, 23]
['apple', 'pear', 'lemon', 1, 14, 23]
[1, 14, 23, 'apple', 'pear', 'lemon', 1, 14, 23]

Example 25

In [13]:
fruits = ('pear', 'apple', 'cherry', 'grape', 'orange', 'lime')
print(fruits)
print(fruits[1])
print(fruits[-2])
print(fruits[2:5])
print(fruits[-3:-1])
print(fruits[3:])
print(fruits[:4])

('pear', 'apple', 'cherry', 'grape', 'orange', 'lime')
apple
orange
('cherry', 'grape', 'orange')
('grape', 'orange')
('grape', 'orange', 'lime')
('pear', 'apple', 'cherry', 'grape')

Example 26

In [23]:
fruits = ('apple', 'pear', 'lime')
if 'pear' in fruits:
    print('we have a pear')

we have a pear

Example 27

In [29]:
fruits = ('apple', 'pear', 'lime')
f = list(fruits)
f[1] = 'kiwi'
fruits = tuple(f)
print(fruits)

('apple', 'kiwi', 'lime')

Example 28

In [15]:
fruits = ('apple', 'banana', 'cherry')
x = list(fruits)
x.append('orange')
fruits = tuple(x)
print(fruits)

citruses = ('lemon','lime','orange')
z = ('mandarin',)
citruses += z
print(citruses)

('apple', 'banana', 'cherry', 'orange')
('lemon', 'lime', 'orange', 'mandarin')

Example 29

In [ ]:
fruits = ('apple', 'banana', 'cherry')
x = list(fruits)
x.remove('banana')
print(fruits)
del fruits
#print(fruits) will occur an error because the fruits tuple no le=onger exist

Example 30

In [19]:
fruits = ('apple', 'banana', 'cherry')
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

Example 31

In [31]:
fruits = ('apple', 'lime', 'banana', 'cherry')
(*green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

['apple', 'lime']
banana
cherry

Example 32

In [43]:
fruits = ('apple', 'pear', 'cherry')
for x in fruits:
    print(x)

citruses = ('lemon', 'lime', 'orange')
for i in range(len(fruits)):
    print(citruses[i])

vegie = ('tomato', 'cucumber', 'corn')
i = 0
while i < (len(fruits)):
    print(vegie[i])
    i += 1

apple
pear
cherry
lemon
lime
orange
tomato
cucumber
corn

Example 33

In [51]:
fruits = ('apple', 'pear', 'cherry')
citruses = ('lemon', 'lime', 'orange')
a = fruits + citruses
b = fruits * 2
c = citruses * 3
print(a)
print(b)
print(c)

('apple', 'pear', 'cherry', 'lemon', 'lime', 'orange')
('apple', 'pear', 'cherry', 'apple', 'pear', 'cherry')
('lemon', 'lime', 'orange', 'lemon', 'lime', 'orange', 'lemon', 'lime', 'orange')

Example 34

In [53]:
myset = {'apple', 'pear', 'banana', 'pear', True, 0, False, 1} # 0 and 1 is the same as True and False
print(myset)                                                   #print without duplicates

{0, True, 'apple', 'banana', 'pear'}

Example 35

In [67]:
nums = {1,5,3,7,11,9}                  #sort by ascending order
fruits = {'coconut', 'pear', 'apple'}  #sort by hash
print(nums)
print(fruits)

{1, 3, 5, 7, 9, 11}
{'apple', 'coconut', 'pear'}

Example 36

In [81]:
myset = {-15, False, 'apple', 2, True, 'pear'}
print(myset)
print(type(myset))

{False, True, 2, -15, 'apple', 'pear'}
<class 'set'>

Example 37

In [83]:
myset = {'apple', 'banana', 'coconut'}
for x in myset:
    print(x)

coconut
apple
banana

Example 38

In [87]:
myset = {'apple', 'banana', 'coconut'}

print('banana' in myset)
print('pear' in myset)
print('banana' not in myset)
print('pear' not in myset)

True
False
False
True

Example 39

In [93]:
fruits = {'apple', 'banana', 'coconut'}
print(fruits)

fruits.add('strawberry')
print(fruits)

citruses = {'lemon', 'lime'}
fruits.update(citruses)
print(fruits)

{'coconut', 'apple', 'banana'}
{'strawberry', 'coconut', 'apple', 'banana'}
{'apple', 'strawberry', 'lime', 'banana', 'coconut', 'lemon'}

Example 40

In [99]:
fruits = {'apple', 'lime', 'banana', 'cherry'}

fruits.remove('lime')
print(fruits)

{'cherry', 'apple', 'banana'}

Example 41

In [101]:
fruits = {'apple', 'lime', 'banana', 'cherry'}
for x in fruits:
    print(x)

cherry
apple
banana
lime

Example 42

In [7]:
a = {'apple', 'mandarin', 'lemon'}
b = {'iphone', 'samsung', 'xiaomi'}
c = {1, 2,3}

d = a.union(b)
e = b | c
a.update(c)
f = a.union(b,c)
print(d)
print(e)
print(a)
print(f)

{'samsung', 'mandarin', 'apple', 'lemon', 'xiaomi', 'iphone'}
{'samsung', 1, 2, 3, 'xiaomi', 'iphone'}
{'mandarin', 1, 'apple', 2, 3, 'lemon'}
{'samsung', 'mandarin', 1, 'apple', 2, 3, 'lemon', 'xiaomi', 'iphone'}