LAB 4 ABDIK NURZHAN

MATH 1

In [3]:
import math

deg = float(input())
rad = deg * (math.pi / 180)
print(rad)

 15

0.2617993877991494

MATH 2

In [9]:
height = float(input("enter the height"))
base1 =  float(input("enter the length of lower base"))
base2 = float(input("enter the length of upper base"))

area = ((base1 + base2)/2) * height
print(area)

enter the height 5
enter the length of lower base 5
enter the length of upper base 6

27.5

MATH 3

In [7]:
import math

sides = input("enter the number of sides")
length = float(input("enter the length of a side"))

if sides == '3':
    print("area of equilateral triangle:",((math.sqrt(3)/4)) * pow(length, 2))
elif sides == '4':
    print("area of a square:", pow(length, 2))
else:
    print("formula not found")

enter the number of sides 4
enter the length of a side 25

area of a square: 625.0

MATH 4

In [11]:
height = float(input("enter the height of parallelogram"))
length = float(input("inter the length of parallelogram"))

area = height * length
print(area)

enter the height of parallelogram 5
inter the length of parallelogram 6

30.0

GENERATORS 1

In [9]:
def squares():
    n = 1
    while n <= num:
        res = n*n
        yield res
        n += 1

values = squares()
num = int(input())

for i in values:
    print(i)

 5

1
4
9
16
25

GENERATORS 2

In [21]:
def even():
    n = 1
    while n <= num/2:
        res = 2*n
        yield res
        n += 1

values = even()
num = int(input())
even_nums = []

for i in values:
    even_nums.append(i)

print(even_nums)

 20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

GENERATORS 3

In [35]:
def div_by_3n4(n):
   for num in range(n+1):
       if num % 3  == 0 and num % 4 == 0:
           yield num
           
n = 50
for number in div_by_3n4(n):
    print(number)

0
12
24
36
48

GENERATORS 4

In [41]:
def squares_a_to_b():
    a = int(input())
    b = int(input())
    while a <= b:
        res = a*a
        yield res
        a += 1

values = squares_a_to_b()

for i in values:
    print(i)

 2
 8

4
9
16
25
36
49
64

GENERATORS 5

In [45]:
def nums_by_desc():
    n = int(input())
    while n >= 0:
        yield n
        n -= 1


for nums in nums_by_desc():
    print(nums)

 8

8
7
6
5
4
3
2
1
0

DATE 1

In [31]:
from datetime import datetime, timedelta

date_str = input("Enter a date (YYYY MM DD): ")
today = datetime.strptime(date_str, "%Y %m %d")

five_days_before = today - timedelta(days=5)


print("date five days before:", five_days_before.strftime("%Y %m %d"))

Enter a date (YYYY MM DD):  2025 03 01

date five days before: 2025 02 24

DATE 2

In [41]:
from datetime import datetime, timedelta

date_str = input("Enter a date (YYYY MM DD): ")
today = datetime.strptime(date_str, "%Y %m %d")

yesterday = today - timedelta(days=1)
tomorrow = today + timedelta(days=1)

print("yesterday:", yesterday.strftime("%Y %m %d"))
print("today:", today)
print("tomorrow:", tomorrow.strftime("%Y %m %d"))

Enter a date (YYYY MM DD):  2025 02 28

yesterday: 2025 02 27
today: 2025-02-28 00:00:00
tomorrow: 2025 03 01

DATE 3

In [19]:
import datetime

date = datetime.datetime.now()
print(date)
date_millisec_off= date.replace(microsecond = 0)
print(date_millisec_off)

2025-02-15 20:29:58.054724
2025-02-15 20:29:58

DATE 4

In [55]:
from datetime import datetime

def differ_of_dates_seconds(date1_str, date2_str):
    
    date1 = datetime.strptime(date1_str, "%Y %m %d")
    date2 = datetime.strptime(date2_str, "%Y %m %d")
    
    return abs(int((date1 - date2).total_seconds()))

date1_str = input("enter first date (YYYY MM DD):")
date2_str = input("enter second date (YYYY MM DD):")

difference = differ_of_dates_seconds(date1_str, date2_str)
print("two date difference in seconds:", difference)

enter first date (YYYY MM DD): 2025 02 28
enter second date (YYYY MM DD): 2025 03 01

two date difference in seconds: 86400